<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nhân viên</title>
    <!-- Home css -->
    <link rel="stylesheet" href="/resource/css/home/home.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <!-- master stylesheet -->
    <link rel="stylesheet" href="/resource/assets/css/style.css">
    <!-- Responsive stylesheet -->
    <link rel="stylesheet" href="/resource/assets/css/responsive.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
<!--    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">-->
</head>
<body>
<!--preloader-->
<div id='af-preloader'>
    <div class='af-preloader-wrap'>
        <div class='af-sp af-sp-wave'></div>
    </div>
</div>
    <!--    Start mainmenu area-->
    <section class="mainmenu-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="inner-content clearfix">
                        <nav class="main-menu style1 clearfix">
                            <div class="navbar-header clearfix">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="navbar-collapse collapse clearfix">
                                <ul class="navigation clearfix">
                                    <li><a href="/admin">Quản Lý</a></li>
                                    <li><a href="/desk">Bàn Phục Vụ</a></li>
                                    <li><a href="/category">Danh Mục</a></li>
                                    <li><a href="/product">Món ăn</a></li>
                                    <li><a href="/logout">Thoát</a></li>
                                </ul>
                            </div>
                        </nav>

<!--                        <div class="mainmenu-right">-->
<!--                            <div class="toggler-button">-->
<!--                                <div class="nav-toggler hidden-bar-opener">-->
<!--                                    <div class="inner">-->
<!--                                        <span></span>-->
<!--                                        <span></span>-->
<!--                                        <span></span>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End mainmenu area-->
    <div class="container">
        <form class="row g-3">
            <div class="col-md-6">
                <label class="form-label">Username</label>
                <input type="text" class="form-control" id="username">
            </div>
            <div class="col-md-6">
                <label class="form-label">Password</label>
                <input type="password" class="form-control" id="password">
            </div>
            <div class="col-12">
                <label class="form-label">Họ Tên</label>
                <input type="text" class="form-control" id="name" placeholder="Nguyễn Văn A">
            </div>
            <div class="col-12">
                <label class="form-label">Địa chỉ</label>
                <input type="text" class="form-control" id="address" placeholder="Apartment, studio, or floor">
            </div>
            <div class="col-md-6">
                <label class="form-label">Điện thoại</label>
                <input type="tel" class="form-control" id="phone">
            </div>
            <div class="col-md-6">
                <label class="form-label">Ngày sinh</label>
                <input type="date" name="dob" id="dob" class="form-control" data-rule-required="true"
                       data-msg-required="Dob is required">
            </div>
        </form>
        <div class="col-12">
            <button type="submit" id="btn-add" class="btn btn-primary">Thêm nhân viên</button>
        </div>
        <table class="table" id="listUser">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Họ Tên</th>
                <th scope="col">Điện Thoại</th>
                <th scope="col">Ngày sinh</th>
                <th scope="col">Địa chỉ</th>
                <th scope="col">Trạng thái</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>


<!-- Modal -->
<div id="EditUserModal" class="modal fade">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Sửa thông tin nhân viên</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div class="modal-alert-danger">

                </div>
                <form id="frmCreateEmployee">
                    <input type="text" id="id" style="display: none">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label>Họ tên</label>
                                <input type="text" id="nameUp" name="nameUp" class="form-control"
                                       placeholder="User Name:">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>Địa chỉ</label>
                                <input type="text" id="addressUp" name="addressUp" class="form-control"
                                       placeholder="Type name:">
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-label">Điện thoại</label>
                            <input type="tel" class="form-control" id="phoneUp">
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Ngày sinh</label>
                            <input type="date" name="dob" id="dobUp" class="form-control" data-rule-required="true"
                                   data-msg-required="Dob is required">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-default" data-dismiss="modal" value="Hủy">
                <input type="button" id="btnEdit" name="submit" class="btn btn-success" value="Lưu">
            </div>
        </div>
    </div>
</div>

<!-- Hidden Navigation Bar -->
<section class="hidden-bar right-align">
    <div class="hidden-bar-closer">
        <button><span class="flaticon-remove"></span></button>
    </div>
    <div class="hidden-bar-wrapper">
        <div class="contact-info-box">
            <h2>Báo cáo</h2>
        </div>
        <div class="newsletter-form-box">

        </div>
        <div class="copy-right-text">

        </div>
    </div>
</section>

<script src="/resource/js/staff/staff.js"></script>
<!-- main jQuery -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/resource/assets/js/jquery.js"></script>
<!--<script src="/resource/assets/html5lightbox/html5lightbox.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<!-- html5lightbox js -->
<script src="/resource/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
<!--Color Switcher-->
<!--<script src="/resource/assets/js/color-settings.js"></script>-->
<!-- thm custom script -->
<script src="/resource/assets/js/custom.js"></script>
<!--validator-->
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<!--bootbox-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script>
<!--Notify-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js" integrity="sha512-efUTj3HdSPwWJ9gjfGR71X9cvsrthIA78/Fvd/IN+fttQVy7XWkOAXb295j8B3cmm/kFKVxjiNYzKw9IQJHIuQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- jQuery CDN - Slim version (=without AJAX) -->
<!-- Popper.JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<!-- jQuery Custom Scroller CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

</body>
</html>