<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="chart">
    <div class="bill_list">
        <table id="list-bill-show" class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <!--<th>Nhân viên</th>-->
                <th>Thời gian</th>
                <th>Khách hàng</th>
                <th>Tổng Tiền</th>
                <th>Chi tiết</th>
            </tr>
            </thead>
            <tbody id="list-bill">
            <!--hiển thị danh sách bill-->
            </tbody>
        </table>
    </div>
</th:block>