<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<td>
    <button type="button" data-toggle="modal" data-target="#updateModal" class="btn btn-outline-primary plus"
            data-id="${item.id}">
        <i class="fa fa-plus-square"></i>
    </button>
</td>
<td>
    <button type="button" class="btn btn-outline-danger minus" data-id="${item.id}">
        <i class="fa fa-minus-square"></i>
    </button>
</td>
<i class="fas fa-times"></i>
<td>
    <button type="button" class="btn btn-outline-danger times" data-id="${item.id}">
        <i class="fa fa-times"></i>
    </button>
</td>
</body>
</html>