<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="bill">
    <div class="modal fade" id="bill" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <h1 style="text-align: center">NHÀ HÀNG 4 THÀNH VIÊN</h1>
                        <h2 style="text-align: center">ĐC: số 1 - Thành Phố Huế</h2>
                        <h3 style="text-align: center">HOTLINE: 0909900990</h3>
                        <div class="orderDetail_bill">
                            <form class="form-group">
                                <input class="form-control" type="number" id="order_id_bill" hidden>
                                <h2 id="desk_name_bill"></h2>
                                <h3 style="color: #00A0D1; text-align: center"><b>CHI TIẾT THANH TOÁN</b></h3>
                                <div id="total_bill">
                                    <div class="container">
                                        <label for="customerName">Tên khách</label>
                                        <input class="form-control" id="customerName" type="text">
                                        <span>
                            <b>TIỀN PHẢI TRẢ: </b>
                            <input class="form-control" type="text" id="total_bill_pay" readonly hidden>
                            <h2 id="total_amount">
                                <!-- tiền phải trả-->
                            </h2>
                        </span><br>
                                        <p>Tiền khách trả: </p>
                                        <select class="form-control" id="customerMoney">
                                            <option value="5000000">5.000.000 vnđ</option>
                                            <option value="4000000">4.000.000 vnđ</option>
                                            <option value="3000000">3.000.000 vnđ</option>
                                            <option value="2000000">2.000.000 vnđ</option>
                                            <option value="1000000">1.000.000 vnđ</option>
                                            <option value="500000">500.000 vnđ</option>
                                            <option value="200000">200.000 vnđ</option>
                                            <option value="100000">100.000 vnđ</option>
                                            <option value="50000">50.000 vnđ</option>
                                            <option value="20000">20.000 vnđ</option>
                                        </select>
                                        <label>Tiền trả lại: </label>
                                        <input class="form-control" type="text" id="moneyForCustomer" readonly>
                                        <div class="btn_pay">
                                            <!--btn pay-->
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>