<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="product-list">
    <table id="basic_datatable" class="table table-hover">
        <thead>
        <tr>
            <th>Mã</th>
            <th>Tên món</th>
            <th>Giá/món</th>
            <th>Trạng thái</th>
            <th>Danh mục</th>
            <th colspan="2"></th>
        </tr>
        </thead>
        <tbody id="listProduct">
        <!--Hiển thị danh sách sản phẩm-->
        </tbody>
    </table>
</th:block>