<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="staff-list">
    <table class="table" id="listUser">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Họ Tên</th>
            <th scope="col">Điện Thoại</th>
            <th scope="col">Ngày sinh</th>
            <th scope="col">Địa chỉ</th>
            <th scope="col">Trạng thái</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</th:block>