<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="bill">
<div class="modal fade" id="bill" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <h1 style="text-align: center">NHÀ HÀNG 4 THÀNH VIÊN</h1>
                    <h2 style="text-align: center">ĐC: số 1 - Thành Phố Huế</h2>
                    <h3 style="text-align: center">HOTLINE: 0909900990</h3>
                    <div class="orderDetail_bill">
                        <form class="form-group">
                            <input type="number" id="order_id_bill" hidden>
                            <label for="customerName">Tên khách</label>
                            <input class="form-control" id="customerName" type="text">
                            <table class="table table-hover">
                                <h2 id="desk_name_bill"></h2>
                                <h3 style="color: #00A0D1; text-align: center"><b>HOÁ ĐƠN THANH TOÁN</b></h3>
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Tên món</th>
                                    <th>Giá</th>
                                    <th>Số lượng</th>
                                    <th>Thành tiền</th>
                                </tr>
                                </thead>
                                <tbody id="product_list_of_bill">
                                <!--Hiển thị danh mục món ăn của bàn-->
                                </tbody>
                                <tfoot id="total_bill">
                                </tfoot>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</th:block>